<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyb.shop.mapper.xyb.ActivityPrizeInfoMapper">
  <resultMap id="BaseResultMap" type="com.xyb.shop.model.xyb.ActivityPrizeInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prize_no" jdbcType="VARCHAR" property="prizeNo" />
    <result column="prize_category" jdbcType="INTEGER" property="prizeCategory" />
    <result column="prize_number" jdbcType="INTEGER" property="prizeNumber" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="prize_pic" jdbcType="VARCHAR" property="prizePic" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_for_activity" jdbcType="INTEGER" property="prizeForActivity" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="award_rate" jdbcType="DECIMAL" property="awardRate" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, prize_no, prize_category, prize_number, ref_no, prize_pic, prize_name, prize_for_activity, 
    state, award_rate, create_dt, update_dt
  </sql>
  <select id="selectByExample" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_prize_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_prize_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from activity_prize_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfoExample">
    delete from activity_prize_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_prize_info (prize_no, prize_category, prize_number, 
      ref_no, prize_pic, prize_name, 
      prize_for_activity, state, award_rate, 
      create_dt, update_dt)
    values (#{prizeNo,jdbcType=VARCHAR}, #{prizeCategory,jdbcType=INTEGER}, #{prizeNumber,jdbcType=INTEGER}, 
      #{refNo,jdbcType=VARCHAR}, #{prizePic,jdbcType=VARCHAR}, #{prizeName,jdbcType=VARCHAR}, 
      #{prizeForActivity,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{awardRate,jdbcType=DECIMAL}, 
      #{createDt,jdbcType=TIMESTAMP}, #{updateDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_prize_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prizeNo != null">
        prize_no,
      </if>
      <if test="prizeCategory != null">
        prize_category,
      </if>
      <if test="prizeNumber != null">
        prize_number,
      </if>
      <if test="refNo != null">
        ref_no,
      </if>
      <if test="prizePic != null">
        prize_pic,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
      <if test="prizeForActivity != null">
        prize_for_activity,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="awardRate != null">
        award_rate,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="updateDt != null">
        update_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prizeNo != null">
        #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="prizeCategory != null">
        #{prizeCategory,jdbcType=INTEGER},
      </if>
      <if test="prizeNumber != null">
        #{prizeNumber,jdbcType=INTEGER},
      </if>
      <if test="refNo != null">
        #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="prizePic != null">
        #{prizePic,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeForActivity != null">
        #{prizeForActivity,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="awardRate != null">
        #{awardRate,jdbcType=DECIMAL},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null">
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfoExample" resultType="java.lang.Long">
    select count(*) from activity_prize_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_prize_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.prizeNo != null">
        prize_no = #{record.prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeCategory != null">
        prize_category = #{record.prizeCategory,jdbcType=INTEGER},
      </if>
      <if test="record.prizeNumber != null">
        prize_number = #{record.prizeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.refNo != null">
        ref_no = #{record.refNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prizePic != null">
        prize_pic = #{record.prizePic,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeName != null">
        prize_name = #{record.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeForActivity != null">
        prize_for_activity = #{record.prizeForActivity,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.awardRate != null">
        award_rate = #{record.awardRate,jdbcType=DECIMAL},
      </if>
      <if test="record.createDt != null">
        create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDt != null">
        update_dt = #{record.updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_prize_info
    set id = #{record.id,jdbcType=BIGINT},
      prize_no = #{record.prizeNo,jdbcType=VARCHAR},
      prize_category = #{record.prizeCategory,jdbcType=INTEGER},
      prize_number = #{record.prizeNumber,jdbcType=INTEGER},
      ref_no = #{record.refNo,jdbcType=VARCHAR},
      prize_pic = #{record.prizePic,jdbcType=VARCHAR},
      prize_name = #{record.prizeName,jdbcType=VARCHAR},
      prize_for_activity = #{record.prizeForActivity,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      award_rate = #{record.awardRate,jdbcType=DECIMAL},
      create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      update_dt = #{record.updateDt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfo">
    update activity_prize_info
    <set>
      <if test="prizeNo != null">
        prize_no = #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="prizeCategory != null">
        prize_category = #{prizeCategory,jdbcType=INTEGER},
      </if>
      <if test="prizeNumber != null">
        prize_number = #{prizeNumber,jdbcType=INTEGER},
      </if>
      <if test="refNo != null">
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="prizePic != null">
        prize_pic = #{prizePic,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeForActivity != null">
        prize_for_activity = #{prizeForActivity,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="awardRate != null">
        award_rate = #{awardRate,jdbcType=DECIMAL},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyb.shop.model.xyb.ActivityPrizeInfo">
    update activity_prize_info
    set prize_no = #{prizeNo,jdbcType=VARCHAR},
      prize_category = #{prizeCategory,jdbcType=INTEGER},
      prize_number = #{prizeNumber,jdbcType=INTEGER},
      ref_no = #{refNo,jdbcType=VARCHAR},
      prize_pic = #{prizePic,jdbcType=VARCHAR},
      prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_for_activity = #{prizeForActivity,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      award_rate = #{awardRate,jdbcType=DECIMAL},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      update_dt = #{updateDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>