<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyb.shop.mapper.xyb.AdClickRecordMapper">
  <resultMap id="BaseResultMap" type="com.xyb.shop.model.xyb.AdClickRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ad_ref_no" jdbcType="VARCHAR" property="adRefNo" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="clien_ip" jdbcType="VARCHAR" property="clienIp" />
    <result column="click_time" jdbcType="TIMESTAMP" property="clickTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ad_ref_no, source, position, clien_ip, click_time
  </sql>
  <select id="selectByExample" parameterType="com.xyb.shop.model.xyb.AdClickRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ad_click_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ad_click_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ad_click_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyb.shop.model.xyb.AdClickRecordExample">
    delete from ad_click_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyb.shop.model.xyb.AdClickRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ad_click_record (ad_ref_no, source, position, 
      clien_ip, click_time)
    values (#{adRefNo,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{clienIp,jdbcType=VARCHAR}, #{clickTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xyb.shop.model.xyb.AdClickRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ad_click_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adRefNo != null">
        ad_ref_no,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="clienIp != null">
        clien_ip,
      </if>
      <if test="clickTime != null">
        click_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adRefNo != null">
        #{adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="clienIp != null">
        #{clienIp,jdbcType=VARCHAR},
      </if>
      <if test="clickTime != null">
        #{clickTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyb.shop.model.xyb.AdClickRecordExample" resultType="java.lang.Long">
    select count(*) from ad_click_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ad_click_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.adRefNo != null">
        ad_ref_no = #{record.adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.clienIp != null">
        clien_ip = #{record.clienIp,jdbcType=VARCHAR},
      </if>
      <if test="record.clickTime != null">
        click_time = #{record.clickTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ad_click_record
    set id = #{record.id,jdbcType=BIGINT},
      ad_ref_no = #{record.adRefNo,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      clien_ip = #{record.clienIp,jdbcType=VARCHAR},
      click_time = #{record.clickTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyb.shop.model.xyb.AdClickRecord">
    update ad_click_record
    <set>
      <if test="adRefNo != null">
        ad_ref_no = #{adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="clienIp != null">
        clien_ip = #{clienIp,jdbcType=VARCHAR},
      </if>
      <if test="clickTime != null">
        click_time = #{clickTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyb.shop.model.xyb.AdClickRecord">
    update ad_click_record
    set ad_ref_no = #{adRefNo,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      clien_ip = #{clienIp,jdbcType=VARCHAR},
      click_time = #{clickTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>