<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyb.shop.mapper.xyb.UserTreasureBoxMapper">
  <resultMap id="BaseResultMap" type="com.xyb.shop.model.xyb.UserTreasureBox">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="box_no" jdbcType="VARCHAR" property="boxNo" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="box_state" jdbcType="INTEGER" property="boxState" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="click_number" jdbcType="INTEGER" property="clickNumber" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="get_socre_number" jdbcType="INTEGER" property="getSocreNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, box_no, open_id, box_state, state, start_time, end_time, click_number, create_dt, 
    get_socre_number
  </sql>
  <select id="selectByExample" parameterType="com.xyb.shop.model.xyb.UserTreasureBoxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_treasure_box
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_treasure_box
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_treasure_box
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyb.shop.model.xyb.UserTreasureBoxExample">
    delete from user_treasure_box
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyb.shop.model.xyb.UserTreasureBox">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_treasure_box (box_no, open_id, box_state, 
      state, start_time, end_time, 
      click_number, create_dt, get_socre_number
      )
    values (#{boxNo,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{boxState,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{clickNumber,jdbcType=INTEGER}, #{createDt,jdbcType=TIMESTAMP}, #{getSocreNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xyb.shop.model.xyb.UserTreasureBox">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_treasure_box
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boxNo != null">
        box_no,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="boxState != null">
        box_state,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="clickNumber != null">
        click_number,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="getSocreNumber != null">
        get_socre_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boxNo != null">
        #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="boxState != null">
        #{boxState,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clickNumber != null">
        #{clickNumber,jdbcType=INTEGER},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="getSocreNumber != null">
        #{getSocreNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyb.shop.model.xyb.UserTreasureBoxExample" resultType="java.lang.Long">
    select count(*) from user_treasure_box
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_treasure_box
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.boxNo != null">
        box_no = #{record.boxNo,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.boxState != null">
        box_state = #{record.boxState,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clickNumber != null">
        click_number = #{record.clickNumber,jdbcType=INTEGER},
      </if>
      <if test="record.createDt != null">
        create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.getSocreNumber != null">
        get_socre_number = #{record.getSocreNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_treasure_box
    set id = #{record.id,jdbcType=BIGINT},
      box_no = #{record.boxNo,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR},
      box_state = #{record.boxState,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      click_number = #{record.clickNumber,jdbcType=INTEGER},
      create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      get_socre_number = #{record.getSocreNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyb.shop.model.xyb.UserTreasureBox">
    update user_treasure_box
    <set>
      <if test="boxNo != null">
        box_no = #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="boxState != null">
        box_state = #{boxState,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clickNumber != null">
        click_number = #{clickNumber,jdbcType=INTEGER},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="getSocreNumber != null">
        get_socre_number = #{getSocreNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyb.shop.model.xyb.UserTreasureBox">
    update user_treasure_box
    set box_no = #{boxNo,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      box_state = #{boxState,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      click_number = #{clickNumber,jdbcType=INTEGER},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      get_socre_number = #{getSocreNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>