<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyb.ai.mapper.xyb.AdStatsClickMapper">
  <resultMap id="BaseResultMap" type="com.xyb.ai.model.xyb.AdStatsClick">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ad_ref_no" jdbcType="VARCHAR" property="adRefNo" />
    <result column="stats_type" jdbcType="INTEGER" property="statsType" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="stats_date" jdbcType="DATE" property="statsDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ad_ref_no, stats_type, count, stats_date
  </sql>
  <select id="selectByExample" parameterType="com.xyb.ai.model.xyb.AdStatsClickExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ad_stats_click
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ad_stats_click
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ad_stats_click
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyb.ai.model.xyb.AdStatsClickExample">
    delete from ad_stats_click
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyb.ai.model.xyb.AdStatsClick">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ad_stats_click (ad_ref_no, stats_type, count, 
      stats_date)
    values (#{adRefNo,jdbcType=VARCHAR}, #{statsType,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{statsDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.xyb.ai.model.xyb.AdStatsClick">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ad_stats_click
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adRefNo != null">
        ad_ref_no,
      </if>
      <if test="statsType != null">
        stats_type,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="statsDate != null">
        stats_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adRefNo != null">
        #{adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="statsType != null">
        #{statsType,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="statsDate != null">
        #{statsDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyb.ai.model.xyb.AdStatsClickExample" resultType="java.lang.Long">
    select count(*) from ad_stats_click
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ad_stats_click
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.adRefNo != null">
        ad_ref_no = #{record.adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="record.statsType != null">
        stats_type = #{record.statsType,jdbcType=INTEGER},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.statsDate != null">
        stats_date = #{record.statsDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ad_stats_click
    set id = #{record.id,jdbcType=BIGINT},
      ad_ref_no = #{record.adRefNo,jdbcType=VARCHAR},
      stats_type = #{record.statsType,jdbcType=INTEGER},
      count = #{record.count,jdbcType=INTEGER},
      stats_date = #{record.statsDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyb.ai.model.xyb.AdStatsClick">
    update ad_stats_click
    <set>
      <if test="adRefNo != null">
        ad_ref_no = #{adRefNo,jdbcType=VARCHAR},
      </if>
      <if test="statsType != null">
        stats_type = #{statsType,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="statsDate != null">
        stats_date = #{statsDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyb.ai.model.xyb.AdStatsClick">
    update ad_stats_click
    set ad_ref_no = #{adRefNo,jdbcType=VARCHAR},
      stats_type = #{statsType,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      stats_date = #{statsDate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>