<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyb.ai.mapper.xyb.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.xyb.ai.model.xyb.Goods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mer_code" jdbcType="VARCHAR" property="merCode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="goods_src" jdbcType="INTEGER" property="goodsSrc" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_weight" jdbcType="REAL" property="goodsWeight" />
    <result column="goods_weight_unit" jdbcType="INTEGER" property="goodsWeightUnit" />
    <result column="goods_width" jdbcType="REAL" property="goodsWidth" />
    <result column="goods_height" jdbcType="REAL" property="goodsHeight" />
    <result column="goods_length" jdbcType="REAL" property="goodsLength" />
    <result column="goods_pic" jdbcType="VARCHAR" property="goodsPic" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rule_no" jdbcType="VARCHAR" property="ruleNo" />
    <result column="is_support_exchange" jdbcType="INTEGER" property="isSupportExchange" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mer_code, username, ref_no, goods_src, goods_name, goods_type_id, purchase_price, 
    goods_price, goods_weight, goods_weight_unit, goods_width, goods_height, goods_length, 
    goods_pic, goods_desc, brand, bar_code, stock, freight, create_time, update_time, 
    rule_no, is_support_exchange
  </sql>
  <select id="selectByExample" parameterType="com.xyb.ai.model.xyb.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyb.ai.model.xyb.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyb.ai.model.xyb.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (mer_code, username, ref_no, 
      goods_src, goods_name, goods_type_id, 
      purchase_price, goods_price, goods_weight, 
      goods_weight_unit, goods_width, goods_height, 
      goods_length, goods_pic, goods_desc, 
      brand, bar_code, stock, 
      freight, create_time, update_time, 
      rule_no, is_support_exchange)
    values (#{merCode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{refNo,jdbcType=VARCHAR}, 
      #{goodsSrc,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsTypeId,jdbcType=BIGINT}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{goodsPrice,jdbcType=DECIMAL}, #{goodsWeight,jdbcType=REAL}, 
      #{goodsWeightUnit,jdbcType=INTEGER}, #{goodsWidth,jdbcType=REAL}, #{goodsHeight,jdbcType=REAL}, 
      #{goodsLength,jdbcType=REAL}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDesc,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{freight,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ruleNo,jdbcType=VARCHAR}, #{isSupportExchange,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xyb.ai.model.xyb.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merCode != null">
        mer_code,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="refNo != null">
        ref_no,
      </if>
      <if test="goodsSrc != null">
        goods_src,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="goodsWeightUnit != null">
        goods_weight_unit,
      </if>
      <if test="goodsWidth != null">
        goods_width,
      </if>
      <if test="goodsHeight != null">
        goods_height,
      </if>
      <if test="goodsLength != null">
        goods_length,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ruleNo != null">
        rule_no,
      </if>
      <if test="isSupportExchange != null">
        is_support_exchange,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merCode != null">
        #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="refNo != null">
        #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsSrc != null">
        #{goodsSrc,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=REAL},
      </if>
      <if test="goodsWeightUnit != null">
        #{goodsWeightUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsWidth != null">
        #{goodsWidth,jdbcType=REAL},
      </if>
      <if test="goodsHeight != null">
        #{goodsHeight,jdbcType=REAL},
      </if>
      <if test="goodsLength != null">
        #{goodsLength,jdbcType=REAL},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleNo != null">
        #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="isSupportExchange != null">
        #{isSupportExchange,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyb.ai.model.xyb.GoodsExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.merCode != null">
        mer_code = #{record.merCode,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.refNo != null">
        ref_no = #{record.refNo,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSrc != null">
        goods_src = #{record.goodsSrc,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsTypeId != null">
        goods_type_id = #{record.goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.purchasePrice != null">
        purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=REAL},
      </if>
      <if test="record.goodsWeightUnit != null">
        goods_weight_unit = #{record.goodsWeightUnit,jdbcType=INTEGER},
      </if>
      <if test="record.goodsWidth != null">
        goods_width = #{record.goodsWidth,jdbcType=REAL},
      </if>
      <if test="record.goodsHeight != null">
        goods_height = #{record.goodsHeight,jdbcType=REAL},
      </if>
      <if test="record.goodsLength != null">
        goods_length = #{record.goodsLength,jdbcType=REAL},
      </if>
      <if test="record.goodsPic != null">
        goods_pic = #{record.goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDesc != null">
        goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.barCode != null">
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.freight != null">
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ruleNo != null">
        rule_no = #{record.ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isSupportExchange != null">
        is_support_exchange = #{record.isSupportExchange,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set id = #{record.id,jdbcType=BIGINT},
      mer_code = #{record.merCode,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      ref_no = #{record.refNo,jdbcType=VARCHAR},
      goods_src = #{record.goodsSrc,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_type_id = #{record.goodsTypeId,jdbcType=BIGINT},
      purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{record.goodsWeight,jdbcType=REAL},
      goods_weight_unit = #{record.goodsWeightUnit,jdbcType=INTEGER},
      goods_width = #{record.goodsWidth,jdbcType=REAL},
      goods_height = #{record.goodsHeight,jdbcType=REAL},
      goods_length = #{record.goodsLength,jdbcType=REAL},
      goods_pic = #{record.goodsPic,jdbcType=VARCHAR},
      goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      bar_code = #{record.barCode,jdbcType=VARCHAR},
      stock = #{record.stock,jdbcType=INTEGER},
      freight = #{record.freight,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      rule_no = #{record.ruleNo,jdbcType=VARCHAR},
      is_support_exchange = #{record.isSupportExchange,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyb.ai.model.xyb.Goods">
    update goods
    <set>
      <if test="merCode != null">
        mer_code = #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="refNo != null">
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsSrc != null">
        goods_src = #{goodsSrc,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=REAL},
      </if>
      <if test="goodsWeightUnit != null">
        goods_weight_unit = #{goodsWeightUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsWidth != null">
        goods_width = #{goodsWidth,jdbcType=REAL},
      </if>
      <if test="goodsHeight != null">
        goods_height = #{goodsHeight,jdbcType=REAL},
      </if>
      <if test="goodsLength != null">
        goods_length = #{goodsLength,jdbcType=REAL},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleNo != null">
        rule_no = #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="isSupportExchange != null">
        is_support_exchange = #{isSupportExchange,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyb.ai.model.xyb.Goods">
    update goods
    set mer_code = #{merCode,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      ref_no = #{refNo,jdbcType=VARCHAR},
      goods_src = #{goodsSrc,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{goodsWeight,jdbcType=REAL},
      goods_weight_unit = #{goodsWeightUnit,jdbcType=INTEGER},
      goods_width = #{goodsWidth,jdbcType=REAL},
      goods_height = #{goodsHeight,jdbcType=REAL},
      goods_length = #{goodsLength,jdbcType=REAL},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      freight = #{freight,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      rule_no = #{ruleNo,jdbcType=VARCHAR},
      is_support_exchange = #{isSupportExchange,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>